* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    margin: auto;
    padding-top: 2rem; /* Added padding to push content below header */
    padding: 50px;
}

.header {
    background: url('https://images.unsplash.com/photo-1579198413527-1d9d1a80dff8?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGpvcmRhbnN8ZW58MHx8MHx8fDA%3D') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 20rem 0;
    height: 40rem; /* Increased height to accommodate image */
    position: relative; /* Added position relative to contain the header content */
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.brand {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* Added margin to center align navbar */
}

.navbar li {
    margin-right: 1.5rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffd700;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem; /* Added margin to space out content */
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: inherit;
}

.product {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 5px;;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.product img {
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.page {
    display: none;
}

.page:first-child {
    display: block;
    padding-top: 2rem;
}

.page h2 {
    margin-bottom: 1rem;
}

.page p {
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
    }
}
